.main{
  width: 400px;
  height: 400px;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: plum;
  
}
div{
  position: relative;
  float: left;
  color: white;
  font-size: 30px;
}
.sm{
  width: 100px;
    height: 100px;
    background-color: blue;
    
}
.big{
  width: 200px;
  height:100px;
  background-color: rgb(67, 67, 141);
  }
  .big1{
    height: 100px;
    width: 200px;
    border-color: rgb(50, 50, 153);
  }
.first{
  width: 100px;
}